/* #myCanvas {
    border: 1px solid black;
} */


#gameContainer {
    text-align: center;
}

#gameBoard {
    border: 3px solid black;
}

#scoreText {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

#resetBtn {
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
}